Repository opentensor/subtensor, pull requests merged in 2025-04, with the labels that each got.

#1512 Feat/subtoken enable
  evm-tests/src/eth.ts
  evm-tests/src/subtensor.ts
  evm-tests/test/neuron.precompile.emission-check.test.ts
  evm-tests/test/neuron.precompile.reveal-weights.test.ts
  evm-tests/test/neuron.precompile.serve.axon-prometheus.test.ts
  evm-tests/test/neuron.precompile.set-weights.test.ts
  evm-tests/test/staking.precompile.add-remove.test.ts
  evm-tests/test/staking.precompile.reward.test.ts
  evm-tests/test/staking.precompile.stake-get.test.ts
  pallets/admin-utils/src/lib.rs
  pallets/subtensor/src/lib.rs
  pallets/subtensor/src/macros/errors.rs
  pallets/subtensor/src/macros/hooks.rs
  pallets/subtensor/src/migrations/migrate_set_subtoken_enabled.rs
  pallets/subtensor/src/migrations/mod.rs
  pallets/subtensor/src/staking/add_stake.rs
  pallets/subtensor/src/staking/recycle_alpha.rs
  pallets/subtensor/src/staking/remove_stake.rs
  pallets/subtensor/src/staking/stake_utils.rs
  pallets/subtensor/src/subnets/registration.rs
  pallets/subtensor/src/subnets/subnet.rs
  pallets/subtensor/src/tests/epoch.rs
  pallets/subtensor/src/tests/migration.rs
  pallets/subtensor/src/tests/mock.rs
  pallets/subtensor/src/tests/senate.rs
  pallets/subtensor/src/tests/subnet.rs
  runtime/src/lib.rs
Labels: skip-cargo-audit, run-bittensor-e2e-tests

#1555 Add Missing Benchmarks
  pallets/subtensor/src/benchmarks.rs
Labels: skip-cargo-audit, run-bittensor-e2e-tests

#1554 Add retry for all extrinsic
  evm-tests/src/substrate.ts
  evm-tests/src/subtensor.ts
  evm-tests/test/eth.chain-id.test.ts
  evm-tests/test/eth.incremental.deploy.test.ts
  evm-tests/test/eth.substrate-transfer.test.ts
  evm-tests/test/metagraph.precompile.test.ts
Labels: no-spec-version-bump, skip-cargo-audit, run-bittensor-e2e-tests

#1556 Delay aggregated staking jobs.
  pallets/subtensor/src/lib.rs
  pallets/subtensor/src/macros/dispatches.rs
  pallets/subtensor/src/macros/hooks.rs
  pallets/subtensor/src/staking/add_stake.rs
  pallets/subtensor/src/staking/remove_stake.rs
  pallets/subtensor/src/staking/stake_utils.rs
  pallets/subtensor/src/tests/staking.rs
Labels: skip-cargo-audit

#1549 Feat/aggregate stakes more extrinsics
  pallets/subtensor/src/lib.rs
  pallets/subtensor/src/macros/dispatches.rs
  pallets/subtensor/src/macros/events.rs
  pallets/subtensor/src/macros/hooks.rs
  pallets/subtensor/src/staking/add_stake.rs
  pallets/subtensor/src/staking/remove_stake.rs
  pallets/subtensor/src/staking/stake_utils.rs
  pallets/subtensor/src/tests/staking.rs
Labels: skip-cargo-audit

#1560 missing pow faucet feature
  Cargo.toml
Labels: no-spec-version-bump, skip-cargo-audit, run-bittensor-e2e-tests

#1561 fix the wrong spec file path
  Dockerfile
  scripts/run/subtensor.sh
Labels: no-spec-version-bump, skip-cargo-audit, run-bittensor-e2e-tests

#1568 add check before sending burned register
  evm-tests/src/subtensor.ts
Labels: no-spec-version-bump, skip-cargo-audit, run-bittensor-e2e-tests

#1574 `Skip-Validate-Benchmark` Label Reruns CI
  .github/workflows/run-benchmarks.yml
Labels: skip-cargo-audit
